*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color:darkgray;
}
nav{
    background-color: dimgrey;
    padding:2%;
}

.nav ul{
    display: flex;
    list-style: none;
    justify-content:space-around;
    
}
.nav ul a{
    text-decoration: none;
    color: purple;
}
.nav ul .title{
    font-size: 17px;
    font-weight: bold;
    color: whitesmoke;
}
.nav ul a:hover{
    color: blue;
}
/* -----------------------section 2---------------------------------- */
.container {
    display: flex;
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
    margin-top: 2%;
  }

  /* Input styles */
  .input-field {
    width: 350px;
    padding: 8px;
    margin-top: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
  }
  .container .content {
    display: flex;
    margin-top: 15px;
  }
  .volume-icon {
    width: 100px;
    height: 50px;
    position: relative;
  }
  .volume-bar {
    width: 100px;
    height: 5px;
    background-color:white;
    position: absolute;
    top: 10px;
    left: 40px;
    border-radius: 2px;
  }
  .volume-bar::after {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #333;
    position: absolute;
    top: -50%;
    left: 0px;
    border-radius: 50%;
  }
  .btn{
    display: flex;
    justify-content: center;
  }
  .btn button{
    border: none;
    width: 120px;
    height: 35px;
    color: white;
    background-color: black;
    border-radius: 10%;
    margin-bottom: 50px;
    transition: 0.3s ;
  }
  .btn button:hover{
    background-color:white;
    color: black;
  }
  .btn .reset {
    margin-right: 5px;
  }
  /* ---------------section 3 ------------------------------- */
  .images{
    display: flex;
    justify-content: space-around;

  }
  .images img{
    width: 45%;
    border-radius: 2%;
  }
  /* --------------footer------------------ */
  footer {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-top: 30px;
  }
  .icons .icon-contact{
    display: flex;
    margin-top: 10px;
  }
  .icons .icon-contact i{
    margin-right: 10px;
    
  }
  .icons .icon-contact p{
    cursor: pointer;
  }
  footer .brand-icon{
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
  }
  
  footer .brand-icon .icon i{
    font-size: 30px;
  }
